.list-inline-item {
    padding : 5px 7px;
    margin:  5px 7px;
    border : solid 1px rgba(0,0,0,.125);
    border-radius: 10px;
}
.credit {
    text-align: center;
}

.pull-right {
  float: right;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .row .col-4,.row .col-8 {width: 100%;max-width:100%; flex: 0 0 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .row .col-4,.row .col-8 {width: 100%;max-width:100%; flex: 0 0 100%;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .row .col-4 {width: 33%;max-width:33%; flex: 0 0 33%;}
  .row .col-8 {width: 66%;max-width:66%; flex: 0 0 66%;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .row .col-4 {width: 33%;max-width:33%; flex: 0 0 33%;}
  .row .col-8 {width: 66%;max-width:66%; flex: 0 0 66%;}
}

